{%extends 'layout.html'%}
{%block body_block%}
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-text-width"></i>
                    Add a new product
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">

                    <form action="" method="post" enctype="multipart/form-data">
                        {%csrf_token%}
                        {{form.as_p}}
                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>

            </div>
            <!-- /.card-body -->
        </div>

    </div>
    <div class="col-4"></div>
</div>
{%endblock%}